/logs
/node_modules
/app/static/bootstrap-5.3.2
/app/static/fonts
/app/static/socket-io-4.7.4
/app/static/jquery
/app/static/images
/app/static/bootstrap-icons-1.11.3
/app/static/bootstrap-table-1.22.3
